{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; font-family: 'Pacifico', cursive;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ post.title }}</h1>
    <div class="btn btn-dark rounded-pill"><h2>Категория: {{ post.category.name() }}</h2></div>
    <hr>
    {% if(imageSrc is not defined) %}
        <img src="{{ asset(image_dir ~ post.image) }}" class="img-fluid card-img-top">
{#        {% include 'post/image_post.html.twig' with {'image': post.image} %}#}
    {% else %}
        <img src="{{ imageSrc }}" class="img-fluid card-img-top">
    {% endif %}
    <hr>
        <p>{{ post.body }}</p>
    <hr>
</div>
{% endblock %}
